  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <script src="/modelos/bd.js"></script>
   
    
</head>
<body>
    <section class="mockup">
        <h2 class="log1">Te damos la bienvenida</h2>
       
        <form action="/login" method="post" class="log2">
            <label for="usuario" class="user">Ingresa tu correo electrónico</label>

            <div class="usuario">
                <input type="email" id="usuario" name="usuario" placeholder="nombre@gmail.com" required>
            </div>

            <label for="password" class="user">Contraseña</label>
            <div class="usuario">
                <input type="password" id="password" name="contraseña" placeholder="Contraseña" required>
            </div>

          <button class="btn btn-primary" type="submit">Ingresar</button>
          <br>
          <p>{{message}}</p>
        </form>
    </section>
</body>
</html>

      <br>
      <br>
    </section>


      
</body>

</html>